body{
  width: 100%;
  height: auto;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video{
  position: fixed;
  left: 0;
  top: 0;
  width: 45%;
  height: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.video video{
  width: 100;
  height: auto;
}

.descripcion{
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  border-radius: 4px;
  overflow-y: scroll;
  font-family: sans-serif;
  color: #000;
  padding: 50px;
}
